@font-face {
    font-family: 'typograph';
    src: url('TypographBold.eot');
    src: url('TypographBold.eot?#iefix') format('embedded-opentype'),
         url('TypographBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'typograph';
    src: url('TypographRegular.eot');
    src: url('TypographRegular.eot?#iefix') format('embedded-opentype'),
         url('TypographRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}